{% extends "base.html" %}
{% block title %}Python Forum - {{ board.name }}{% endblock %}
{% block content %}
<div class="well">
    <ul class="breadcrumb">
        <li><a href="/">Board Index</a> <span class="divider">></span></li>
        <li><a href="#">{{ category.name }}</a> <span class="divider">></span></li>
        <li class="active">{{ board.name }}</li>
    </ul>
    <h2>{{ board.name }}</h2>

    <!-- Announcements -->
    <ul class="_forum">
        <li class="row">
            <p class="span7">Announcements</p>

            <p class="span2">Author</p>

            <p class="span3">Last Post</p>
        </li>
        {% for topic in topics %}
        {% if topic.is_announcement %}
        <li class="row">
            <p class="span7">
                <a href="#">{{ topic.title }}</a>
            </p>

            <p class="span2">{{ topic.author.username }}</p>

            <p class="span3">{{ topic.date }}/p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

    <!-- Topics -->
    <ul class="_forum">
        <li class="row">
            <p class="span7">Topics</p>

            <p class="span2">Author</p>

            <p class="span3">Last Post</p>
        </li>
        {% for topic in topics %}
        {% if not topic.is_announcement %}
        <li class="row">
            <p class="span7">
                <a href="{{ url_for('topic', topic_uuid=topic.topic_uuid) }}">{{ topic.title }}</a>
            </p>

            <p class="span2">{{ topic.author.username }}</p>

            <p class="span3">{{ topic.date }}</p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
