{% extends "base.html" %}
{% block title %}Python Forum - {{ topic.title }}{% endblock %}
{% block content %}
<h3 class="well"> <a href="{{ url_for('index') }}">Python Forum</a> - {{ topic.title }}</h3>
<ul class="_posts">
    {% for post in topic.posts %}
        <li>
            <div class="well">
                <div class="row">
                    <div class="span3">
                        <img src="http://placehold.it/200x200" alt=""/>
                        <h3>{{ post.author.username }}</h3>
                        <p>Additional Info</p>
                    </div>
                    <div class="span8 _justify">
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
